/darwin/home/hammerspoon/Spoons/** linguist-vendored
/home/ghostty/shaders/*.glsl linguist-vendored

/home/nvim/lua/** -linguist-detectable
/home/pdf/**      -linguist-detectable
/home/zsh/**      -linguist-detectable
